<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.store.mapper.UserMapper">
    <resultMap id="UserEntityMap" type="com.jay.store.entity.User">
        <id column="uid" property="uid"></id>
        <result column="username" property="username"></result>
    </resultMap>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user (username) VALUES (#{username})
    </insert>

    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE username = #{username}
    </select>
</mapper>